body {
  /*font-family: Arial, Helvetica, sans-serif;*/
  margin: 0;
}

* {
  box-sizing: border-box;
}

.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navBar li {
  float: right;
}

.navBar .home{
  float: left;
}

.navBar li .user{
  display: block;
  color: #bf0000;
  text-align: center;
  background-color: #333;
  padding: 14px 16px;
  text-decoration: none;
}

.navBar li a {
  display: block;
  color: white;
  text-align: center;
  background-color: #333;
  padding: 14px 16px;
  text-decoration: none;
}

.navBar li a:hover{
  background-color: #111;
}

.navBar .home a {
  background-color: #bf0000;
}

.navBar .home a:hover {
  background-color: #b00000;
}

.box1{
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  padding: 32px;
  width: 60%; /* Could be more or less, depending on screen size */
  max-width: 800px;
}

input[type=submit] {
  cursor: pointer;
}

.boxInst{
  margin: 0 20%;
  display: flex;
  padding: 16px;
}

.boxInst .profile{
  width: 200px;
  display: flex;
}

.profilePicture{
  width: 100px;
  height: auto;
}

/*Modal Boxes*/
/* Modal Content */


/* The Close Button */
.modal{
  overflow-x: hidden !important;
}

.modalClose {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modalClose:hover, .modalClose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/**/
.tab:hover{
  cursor: pointer;
}

.loginBox{
  margin: 5% auto auto auto; /* 5% from the top, 15% from the bottom and centered */
  max-width: 800px;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 16px 32px;
  background-color: #fefefe;
  margin-bottom: 20px;
}

/*Flashed Message*/
.flashedMessage {
  width: 100%;
}

.flashedMessage ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(85, 85, 85);
  background-color: rgba(85, 85, 85, 0.2);
}

.flashedMessage li{
  padding: 14px 16px;
}

.bg-img{
  z-index: -2;
  position: fixed;
  overflow: none;
  height: 100%;
  width: auto;
}

.home-img{
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-position:center bottom; 
  background-size: cover;
}

.homeContainer{
  padding: 8% 20px;
  width: 100%;
  max-width: 600px;;
  margin: auto;
}

.homeTextContainer{
  margin: 30px 0;
}

.homeTextContainer h1{
  font-family: Courgette;
  font-size: 80pt;
  margin: 0;
}

.homeTextContainer h2{
  font-family: Chilanka;
  font-size: 25pt;
  margin: 0;
}

.homeButton{
  position: relative;
  background-color: black;
  color: white;
  transition-duration: 250ms;
  margin-top: 50px;
}

.homeButton:hover{
  transform: scale(1.1);
  background-color: #00e676;
  color: black;
}

.navButton:hover{
  background-color: #00e676;
  color: black;
}

.ratingBtn{
  background-color: black;
  color: white;
  transition-duration: 250ms;
}

.ratingBtn:hover{
  transform: scale(1.05);
  background-color: #00e676 !important;
  color: black;
}

.op{
  background-color: rgba(255, 255, 255, 0.5);
}

.topFront{
  position: absolute; 
  top: 0; 
  z-index: 1;
}

.max{
  height: 100vh;
  width: 100%;
}

/*Materialize*/
.toastStyle{
  background-color: rgba(0, 200, 83, 0.75);
}

#toast-container {
  max-width: 280px;
  top: 10%;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #00c853;
}

.switchBox{
  padding: 8px 10px; 
  border-style: none; 
  border-radius: 30px; 
  border-color: black; 
  width: 240px; 
  margin: 10px auto 0;
}

.switchBox .flow-text{
  position: relative;
  font-family: Chilanka;
  top: 3px;
  left: 10px; 
}

[type="radio"]:checked + label::after, [type="radio"].with-gap:checked + label::after {
  background-color: #00e676;
}
[type="radio"]:checked + label::after, [type="radio"].with-gap:checked + label::before, [type="radio"].with-gap:checked + label::after {
  border: 2px solid #00e676;
}

.tabs .tab a{
  color:#00e676;
  background-color:#eee;
} /*Black color to the text*/

.tabs .tab a:hover {
  background-color:#e9e9e9;
  color:#000;
} /*Text color on hover*/

.tabs .tab a.active {
  background-color:#ffffff;
  color:#00c853;
} /*Background and text color when a tab is active*/

.tabs .indicator {
  background-color:#00e676;
} /*Color of underline*/

.textShadow{
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.modal h1{
  color:#00c853;
  font-size: 32pt;
  margin-top: 10px;
}

.modal p{
  position: relative;
  font-size: 14pt;
  line-height: 0.95;
  margin-top: -20px;
}

.modal h2{
  font-size: 28pt;
  background-color: #00e676;
  color: white;
  margin: 30px -25px;
  padding: 0 25px 5px;
}

.modal h3{
  font-family: Chilanka;
  font-size: 20pt;
  margin-top: 30px;
}