{% extends "layout.html" %}
{% block title %}About Us{% endblock %}
{{ super() }}

{% block content %}
<div class="flow-text container op z-depth-3" style="flex:1;">
    <div class="aboutUsContainer">
        <h1>About Us</h1>
        <p>This site is aimed at collating effective feedback from students of UWI.</p> 
        <p>It allows a user to rate a teacher only once and remove their rating when they think the performance of the teacher has changed.</p>
        <p>This makes it an effective tool in creating accurate visuals to represent the teaching style and personality of an educator. </p>
        <p>The information collected has the potential to improve the current teaching method and allow instructors to determine how they can make themselves more effective.</p> 
        <p>We are dedicated to this ideology and hence implemented the use of infographics in a colorful manner pleasing to the eyes.</p>
        <p>Rater Gator is built for UWI students interested in a fair and comprehensive evaluation of lecturers.</p>
        <p>This site does what students have been constantly checking with others to figure out who are great professors and the ones you may prefer to avoid.</p>
    </div>
</div>
{% endblock %}