{% extends "layout.html" %}
{% block title %}{{inst.prefix}} {{inst.lname}} Rating{% endblock %}
{% block head_attrs %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
{% endblock %}
{% block body_attrs %} 
  {% if rating is not none %}
    onload="initCharts( {{rating}} )" 
  {% endif %}
{% endblock %}

{{ super() }}

{% block content %}
  <div>
    <div class='instructorInfo'>
      <div class='profile'>
        <img src="{{ url_for('static', filename='empty.png') }}" alt='instructor image' class = 'profilePicture'>
        <span>{{inst.prefix}} {{inst.fname}} {{inst.lname}}</span>
      </div>
      <div class='description'>
        <ul>
          <li>{{inst.email}}</li>
          <li>{{inst.position}}</li>
        </ul>
      </div>
      {% if fav is not none %}
      <button id="favoriteBtn" class="btn" {% if fav is true %}style="display:none;"{% endif %}>
        <span>&bigstar;</span>Add to Favorites
      </button>
      <button id="unfavoriteBtn" class="btn" {% if fav is false %}style="display:none;"{% endif %}>
        <span>&bigstar;</span>Remove from Favorites
      </button>
      {% endif %}
    </div>
      {% if rating is none %}
      <span class="Message">This teacher has not yet been rated.</span>
      {% else %}
      <div style="display: flex; flex-direction: row; padding: 30px;">
        
        <div style="padding:10px; margin-right:40px;">
          <!--Teaching Styles Bar Chart-->
          <div id="chartBar" class="chart1"></div>

          {% if myRating is not none %}
            <!--Update Teaching Style-->
            <button class="btn" onclick="modalShow('#tsmodalBox')">Update Teaching Style</button>

            <div id="tsmodalBox" class="modal">
              <div class="modalContent">
                <span class="modalClose" onclick="modalHide('#tsmodalBox')">&times;</span>
                <h1>Update Instructor Teaching Style</h1>
                <p>This section focuses on various aspects of how this instructor teaches.</p>

                <form name = 'teachingForm'>
                  <h3>Presentation</h3>
                  <p>This instructor presents class material in a clear and logical sequence.</p>
                  <div class="ratingBox">
                    <label><input type="radio" name="rating1" value="5">Always</label>
                    <label><input type="radio" name="rating1" value="4">Often</label>
                    <label><input type="radio" name="rating1" value="3" checked>Somtimes</label>
                    <label><input type="radio" name="rating1" value="2">Rarely</label>
                    <label><input type="radio" name="rating1" value="1">Never</label>
                  </div>

                  <h3>Material Accessibility</h3>
                  <p>This instructor makes course material accessible, intelligible and meaningful.</p>
                  <div class="ratingBox">
                    <label><input type="radio" name="rating2" value="5">Always</label>
                    <label><input type="radio" name="rating2" value="4">Often</label>
                    <label><input type="radio" name="rating2" value="3" checked>Somtimes</label>
                    <label><input type="radio" name="rating2" value="2">Rarely</label>
                    <label><input type="radio" name="rating2" value="1">Never</label>
                  </div>

                  <h3>Material Coverage</h3>
                  <p>This instructor covers subject matters adequately. </p>
                  <div class="ratingBox">
                    <label><input type="radio" name="rating3" value="5">Always</label>
                    <label><input type="radio" name="rating3" value="4">Often</label>
                    <label><input type="radio" name="rating3" value="3" checked>Somtimes</label>
                    <label><input type="radio" name="rating3" value="2">Rarely</label>
                    <label><input type="radio" name="rating3" value="1">Never</label>
                  </div>

                  <h3>Pacing</h3>
                  <p>This instructor paces lectures appropriately. </p>
                  <div class="ratingBox">
                    <label><input type="radio" name="rating4" value="5">Always</label>
                    <label><input type="radio" name="rating4" value="4">Often</label>
                    <label><input type="radio" name="rating4" value="3" checked>Somtimes</label>
                    <label><input type="radio" name="rating4" value="2">Rarely</label>
                    <label><input type="radio" name="rating4" value="1">Never</label>
                  </div>

                  <h3>Conciseness</h3>
                  <p>This instructor is concise in their teaching. </p>
                  <div class="ratingBox">
                    <label><input type="radio" name="rating5" value="5">Always</label>
                    <label><input type="radio" name="rating5" value="4">Often</label>
                    <label><input type="radio" name="rating5" value="3" checked>Somtimes</label>
                    <label><input type="radio" name="rating5" value="2">Rarely</label>
                    <label><input type="radio" name="rating5" value="1">Never</label>
                  </div>

                  <h3>Practical Demonstration</h3>
                  <p>This instructor illustrates the practical application of the theory presented. </p>
                  <div class="ratingBox">
                    <label><input type="radio" name="rating6" value="5">Always</label>
                    <label><input type="radio" name="rating6" value="4">Often</label>
                    <label><input type="radio" name="rating6" value="3" checked>Somtimes</label>
                    <label><input type="radio" name="rating6" value="2">Rarely</label>
                    <label><input type="radio" name="rating6" value="1">Never</label>
                  </div>

                  <input type="submit" value="Update Teaching Style">
                </form>
                <br>
              </div>

              <!--Update Teaching Style-->
              <script>
                document.forms['teachingForm'].addEventListener('submit', function(ev){updateTeaching(ev, {{inst.id}});});
              </script>
            </div>
          {% endif %}
        </div>
        
        <div  style="padding:10px;">
          <!--Personality Spider Diagram-->
          <div id="chartSpider" class="chart1"></div>

          {% if myRating is not none %}
            <!--Update Personality-->
            <button class="btn" onclick="modalShow('#pmodalBox')">Update Personality</button>

            <div id="pmodalBox" class="modal">
              <div class="modalContent">
                <span class="modalClose" onclick="modalHide('#pmodalBox')">&times;</span>
                <h1>Update Instructor Personality</h1>
                <p>This section focuses on this instructors personality and behaviour.</p>

                <form name = 'personalityForm'>
                  <h3>Helpful</h3>
                  <p>This instructor is constructive and helpful in their criticism and when answering questions. </p>
                  <div class="ratingBox">
                    <label><input type="radio" name="rating7" value="5">Always</label>
                    <label><input type="radio" name="rating7" value="4">Often</label>
                    <label><input type="radio" name="rating7" value="3" checked>Somtimes</label>
                    <label><input type="radio" name="rating7" value="2">Rarely</label>
                    <label><input type="radio" name="rating7" value="1">Never</label>
                  </div>

                  <h3>Friendly</h3>
                  <p>This instructor is easy to talk to and ask questions. </p>
                  <div class="ratingBox">
                    <label><input type="radio" name="rating8" value="5">Always</label>
                    <label><input type="radio" name="rating8" value="4">Often</label>
                    <label><input type="radio" name="rating8" value="3" checked>Somtimes</label>
                    <label><input type="radio" name="rating8" value="2">Rarely</label>
                    <label><input type="radio" name="rating8" value="1">Never</label>
                  </div>

                  <h3>Interesting</h3>
                  <p>This instructor generates curiosity and interest about lecture material early in the lecture.</p>
                  <div class="ratingBox">
                    <label><input type="radio" name="rating9" value="5">Always</label>
                    <label><input type="radio" name="rating9" value="4">Often</label>
                    <label><input type="radio" name="rating9" value="3" checked>Somtimes</label>
                    <label><input type="radio" name="rating9" value="2">Rarely</label>
                    <label><input type="radio" name="rating9" value="1">Never</label>
                  </div>

                  <h3>Enthusiasm</h3>
                  <p>This instructor shows enthusiasm for their subject.</p>
                  <div class="ratingBox">
                    <label><input type="radio" name="rating10" value="5">Always</label>
                    <label><input type="radio" name="rating10" value="4">Often</label>
                    <label><input type="radio" name="rating10" value="3" checked>Somtimes</label>
                    <label><input type="radio" name="rating10" value="2">Rarely</label>
                    <label><input type="radio" name="rating10" value="1">Never</label>
                  </div>

                  <h3>Expertise</h3>
                  <p>This instructor demonstrates expert knowledge in their subject. </p>
                  <div class="ratingBox">
                    <label><input type="radio" name="rating11" value="5">Always</label>
                    <label><input type="radio" name="rating11" value="4">Often</label>
                    <label><input type="radio" name="rating11" value="3" checked>Somtimes</label>
                    <label><input type="radio" name="rating11" value="2">Rarely</label>
                    <label><input type="radio" name="rating11" value="1">Never</label>
                  </div>

                  <input type="submit" value="Update Personality">
                </form>
                <br>
              </div>

              <!--Update Personality-->
              <script>
                document.forms['personalityForm'].addEventListener('submit', function(ev){updatePersonality(ev, {{inst.id}});});
              </script>
            </div>
          {% endif %}
        </div>
       
        
      </div>
        {% if myRating is not none %}
          <!--Remove Rating-->
          <button class="btn" onclick="deleteRating({{inst.id}})">Remove My Rating</button>
        {% endif %}

      {% endif %}
    

    <div>
      {% if current_user.is_authenticated %}
      
      {% if myRating is none %}
      <button id="rateBtn" class="btn" onclick="modalShow('#modalBox')">Rate Instructor</button>

      <div id="modalBox" class="modal">
        <div class="modalContent">
          <span class="modalClose" onclick="modalHide('#modalBox')">&times;</span>
          <h1>Rate Instructor</h1>
          <p>Select your rating for each catagory...</p>
          <form name="ratingForm">
            <h2>Teaching Style</h2>
            <p>This section focuses on various aspects of how this instructor teaches.</p>

            <h3>Presentation</h3>
            <p>This instructor presents class material in a clear and logical sequence.</p>
            <div class="ratingBox">
              <label><input type="radio" name="rating1" value="5">Always</label>
              <label><input type="radio" name="rating1" value="4">Often</label>
              <label><input type="radio" name="rating1" value="3" checked>Somtimes</label>
              <label><input type="radio" name="rating1" value="2">Rarely</label>
              <label><input type="radio" name="rating1" value="1">Never</label>
            </div>

            <h3>Material Accessibility</h3>
            <p>This instructor makes course material accessible, intelligible and meaningful.</p>
            <div class="ratingBox">
              <label><input type="radio" name="rating2" value="5">Always</label>
              <label><input type="radio" name="rating2" value="4">Often</label>
              <label><input type="radio" name="rating2" value="3" checked>Somtimes</label>
              <label><input type="radio" name="rating2" value="2">Rarely</label>
              <label><input type="radio" name="rating2" value="1">Never</label>
            </div>

            <h3>Material Coverage</h3>
            <p>This instructor covers subject matters adequately. </p>
            <div class="ratingBox">
              <label><input type="radio" name="rating3" value="5">Always</label>
              <label><input type="radio" name="rating3" value="4">Often</label>
              <label><input type="radio" name="rating3" value="3" checked>Somtimes</label>
              <label><input type="radio" name="rating3" value="2">Rarely</label>
              <label><input type="radio" name="rating3" value="1">Never</label>
            </div>

            <h3>Pacing</h3>
            <p>This instructor paces lectures appropriately. </p>
            <div class="ratingBox">
              <label><input type="radio" name="rating4" value="5">Always</label>
              <label><input type="radio" name="rating4" value="4">Often</label>
              <label><input type="radio" name="rating4" value="3" checked>Somtimes</label>
              <label><input type="radio" name="rating4" value="2">Rarely</label>
              <label><input type="radio" name="rating4" value="1">Never</label>
            </div>

            <h3>Conciseness</h3>
            <p>This instructor is concise in their teaching. </p>
            <div class="ratingBox">
              <label><input type="radio" name="rating5" value="5">Always</label>
              <label><input type="radio" name="rating5" value="4">Often</label>
              <label><input type="radio" name="rating5" value="3" checked>Somtimes</label>
              <label><input type="radio" name="rating5" value="2">Rarely</label>
              <label><input type="radio" name="rating5" value="1">Never</label>
            </div>

            <h3>Practical Demonstration</h3>
            <p>This instructor illustrates the practical application of the theory presented. </p>
            <div class="ratingBox">
              <label><input type="radio" name="rating6" value="5">Always</label>
              <label><input type="radio" name="rating6" value="4">Often</label>
              <label><input type="radio" name="rating6" value="3" checked>Somtimes</label>
              <label><input type="radio" name="rating6" value="2">Rarely</label>
              <label><input type="radio" name="rating6" value="1">Never</label>
            </div>
            
            <h2>Personality</h2>
            <p>This section focuses on this instructors personality and behaviour.</p>

            <h3>Helpful</h3>
            <p>This instructor is constructive and helpful in their criticism and when answering questions. </p>
            <div class="ratingBox">
              <label><input type="radio" name="rating7" value="5">Always</label>
              <label><input type="radio" name="rating7" value="4">Often</label>
              <label><input type="radio" name="rating7" value="3" checked>Somtimes</label>
              <label><input type="radio" name="rating7" value="2">Rarely</label>
              <label><input type="radio" name="rating7" value="1">Never</label>
            </div>

            <h3>Friendly</h3>
            <p>This instructor is easy to talk to and ask questions. </p>
            <div class="ratingBox">
              <label><input type="radio" name="rating8" value="5">Always</label>
              <label><input type="radio" name="rating8" value="4">Often</label>
              <label><input type="radio" name="rating8" value="3" checked>Somtimes</label>
              <label><input type="radio" name="rating8" value="2">Rarely</label>
              <label><input type="radio" name="rating8" value="1">Never</label>
            </div>

            <h3>Interesting</h3>
            <p>This instructor generates curiosity and interest about lecture material early in the lecture.</p>
            <div class="ratingBox">
              <label><input type="radio" name="rating9" value="5">Always</label>
              <label><input type="radio" name="rating9" value="4">Often</label>
              <label><input type="radio" name="rating9" value="3" checked>Somtimes</label>
              <label><input type="radio" name="rating9" value="2">Rarely</label>
              <label><input type="radio" name="rating9" value="1">Never</label>
            </div>

            <h3>Enthusiasm</h3>
            <p>This instructor shows enthusiasm for their subject.</p>
            <div class="ratingBox">
              <label><input type="radio" name="rating10" value="5">Always</label>
              <label><input type="radio" name="rating10" value="4">Often</label>
              <label><input type="radio" name="rating10" value="3" checked>Somtimes</label>
              <label><input type="radio" name="rating10" value="2">Rarely</label>
              <label><input type="radio" name="rating10" value="1">Never</label>
            </div>

            <h3>Expertise</h3>
            <p>This instructor demonstrates expert knowledge in their subject. </p>
            <div class="ratingBox">
              <label><input type="radio" name="rating11" value="5">Always</label>
              <label><input type="radio" name="rating11" value="4">Often</label>
              <label><input type="radio" name="rating11" value="3" checked>Somtimes</label>
              <label><input type="radio" name="rating11" value="2">Rarely</label>
              <label><input type="radio" name="rating11" value="1">Never</label>
            </div>

            <input type="submit" value="Submit Rating">
          </form>
          <br>
        </div>
      </div>
      <script>
        document.forms['ratingForm'].addEventListener('submit', function(ev){rateInstructor(ev, {{inst.id}});});
      </script>
      {% endif %}

      {% else %}
      Log in to rate this Instructor.
      {% endif %}
    </div>
  </div>
{% endblock %}